:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 800;
}

body {
    background-color:
        #f0f0f0;
    font-family: 'Poppins';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-flex {
    display: flex;
    gap: 35px;
    margin-left: 30px;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.input-container {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.output>h1 {
    margin: 0;
    padding: 0;
    font-size: 65px;
    color: #151515;
}

.output>h1>span {
    padding: 0;
    width: 600px;
    height: 100px;
    margin: 0;
    font-weight: 800;
    font-size: 88px;
    color: #151515;
}

.submit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color:
        #864dfe;
    position: absolute;
    top: 240px;
    right: 400px;
    cursor: pointer;
}

.submit:hover {
    background-color: black;
    transition: 5sec;
    rotate: 90deg;
}

.input-container>span {
    font-size: 10px;
}

.arrow {
    width: 30px;
}

input {
    font: bold;
    font-size: 18px;
    color: black;
    padding: 30px;
    outline: none;
    width: 180px;
    height: 40px;
}

input:focus {
    border: 1px solid purple;
}

.main-container {
    padding: 40px;
    margin-top: 150px;
    border-radius: 10px 10px 0px 10px;
    border-bottom-right-radius: 150px;
    width: 820px;
    height: 700px;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
}

.output {
    margin-left: 30px;
}

.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: #854dff;
}
.MM{
    background-color: #3e2969;
}
.number-color{
color: #854dff;
}
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


@media screen and (max-width:375px) {

    .main-container {
        margin-top: 50px;
        border-radius: 20px 20px 0px 20px;
        border-bottom-right-radius: 100px;
        width: 340px;
        height: 480px;
    }

    .input-flex {
        display: flex;
        gap: 15px;
        margin-left: 20px;
        justify-content: start;
        align-items: center;
        margin-bottom: 50px;
    }

    input {
        font-size: 20px;
        padding: 10px;
        outline: none;
        width: 70px;
        height: 40px;
    }

    .submit {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color:
            #864dfe;
        position: absolute;
        top: 185px;
        right: 150px;
        cursor: pointer;
    }

    .submit:hover {
        background-color: black;
        transition: 5sec;
        rotate: 90deg;
    }

    .output {
        margin-top: 30px;
    }

    .attribution {
        font-size: 15px;
        text-align: center;
        margin-top: 50px;
        width: 280px;
    }

    .attribution a {
        color: #854dff;
    }

}
